<mat-card>
  <button mat-icon-button color="warn" aria-label="Cerrar" class="close-button" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
  <br>
  <mat-card-subtitle style="text-align: center;">Agregar cliente</mat-card-subtitle>
  <mat-divider></mat-divider>
  <br>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form (ngSubmit) = "guardarCliente()">

        <div class="mb-4">
          <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre o Razón Social</label>
          <input
          name="nombre"
          type="text" id="nombre"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Digite el nombre o la Razón Social "
          [(ngModel)] = "clienteData.nombre"
          >
        </div>

        <div class="grid gap-6 mb-6 md:grid-cols-2">
          <div>
          <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido Paterno (Clientes)</label>
          <input
          name="apellidoPaterno"
          type="text" id="apellidoPaterno"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Digite el Apellido Paterno"
          [(ngModel)] = "clienteData.apellidoPaterno"
          >
        </div>

        <div>
          <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido Materno (Clientes)</label>
          <input
          name="apellidoMaterno"
          type="text" id="apellidoMaterno"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Digite el Apellido Materno"
          [(ngModel)] = "clienteData.apellidoMaterno"
          >
        </div>

      </div>

      <div class="relative mb-4">

        <label for="fechaNacimiento" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de Nacimiento (Clientes)</label>
        <mat-form-field  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#0c0033] focus:border-[#0c0033] block w-full h-11  pr-2 pl-2  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

          <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="clienteData.fechaNacimiento"
          name="fechaNacimiento"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    </div>


        <div class="mb-4">
          <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">DNI o RUC</label>
          <input
          name="dni"
          type="text" id="dni"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Digite el DNI o el RUC de la empresa"
          [(ngModel)]  = "clienteData.dni"
          >
        </div>

        <div class="mb-4">
          <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Dirección</label>
          <input
          name="direccion"
          type="text" id="direccion"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Digite la dirección"
          [(ngModel)] = "clienteData.direccion"
          >
        </div>

        <div class="mb-4">
          <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo</label>
          <input
          name="correo"
          type="text" id="correo"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Digite el correo"
          [(ngModel)] = "clienteData.correo"
          >
        </div>

        <div class="mb-4">
          <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Teléfono</label>
          <input
          name="telefono"
          type="text" id="telefono"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Digite el teléfono"
          [(ngModel)]  = "clienteData.telefono"
          >
        </div>

        <div class="mb-4">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Tipo de Cliente
          </label>
          <mat-select
            [(ngModel)]="clienteData.tipoCliente"
            [ngModelOptions]="{standalone: true}"
            required
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                   focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                   dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                   dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <mat-option value="COMUN">Común</mat-option>
            <mat-option value="INSTALADOR">Instalador</mat-option>
          </mat-select>
        </div>

        <div class="mb-4">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Antigüedad
          </label>
          <mat-select
            [(ngModel)]="clienteData.antiguedadCliente"
            [ngModelOptions]="{standalone: true}"
            required
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                   focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                   dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                   dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <mat-option value="ANTIGUO">Antiguo</mat-option>
            <mat-option value="NUEVO">Nuevo</mat-option>
          </mat-select>
        </div>



        <div class="container text-center">
          <button mat-raised-button color="primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</mat-card>

