<div class="search-container">
  <input type="text"  placeholder="" class="search-input">
  <button routerLink="/admin/add-clientes" mat-raised-button color="primary" class="custom-button" ><mat-icon>library_add</mat-icon> Cliente</button>
</div>
<div class="table-responsive w100">
  <table mat-table  [dataSource]="clientes" class="mat-elevation-z8 w100" style="text-align: center;">
    <!-- Definición de columnas -->
    <ng-container matColumnDef="DNI">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> DNI o RUC </th>
      <td mat-cell *matCellDef="let cliente" style="vertical-align: middle;"> {{ cliente.dni }} </td>
    </ng-container>

    <ng-container matColumnDef="Cliente">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Cliente </th>
      <td mat-cell *matCellDef="let cliente" style="vertical-align: middle;"> {{ cliente.nombre }} {{ cliente.apellidoPaterno }} {{ cliente.apellidoMaterno }}</td>
    </ng-container>

    <ng-container matColumnDef="Fecha de Nacimiento">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Fecha de Nacimiento </th>
      <td mat-cell *matCellDef="let cliente" style="vertical-align: middle;"> {{ cliente.fechaNacimiento| date:'dd/MM/yyyy' }} </td>
    </ng-container>

    <ng-container matColumnDef="Direccion" >
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Direccion </th>
      <td mat-cell *matCellDef="let cliente" style="vertical-align: middle;"> {{ cliente.direccion }} </td>
    </ng-container>

    <ng-container matColumnDef="Correo" >
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Correo </th>
      <td mat-cell *matCellDef="let cliente" style="vertical-align: middle;"> {{ cliente.correo }} </td>
    </ng-container>

    <ng-container matColumnDef="Telefono" >
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Telefono </th>
      <td mat-cell *matCellDef="let cliente" style="vertical-align: middle;"> {{ cliente.telefono }} </td>
    </ng-container>

    <ng-container matColumnDef="Acciones" >
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Acciones </th>
      <td mat-cell *matCellDef="let cliente" style="vertical-align: middle;">
        <button [routerLink]="'/admin/clientes/' + cliente.clienteId" mat-flat-button color="primary" class="ml10"><mat-icon>edit</mat-icon></button>
        <button mat-flat-button color="warn" class="ml10" (click)="eliminarCliente(cliente.clienteId)"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>

    <!-- Filas de la tabla -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div class="pagination-container text-center mt10" >
  <button mat-raised-button color="primary" (click)="prevPage()" [disabled]="currentPage === 0">Anterior</button>
  <span class="button-divider"></span>
  <button mat-raised-button color="primary" (click)="nextPage()">Siguiente</button>
</div>

  

