<mat-card class="mt20">
  <div class="container">
   <div class="row">
     <div class="col-md-12">

         <mat-card-title>
          Bienvenido usuario
         </mat-card-title>

       <mat-card-subtitle>Panel de usuario</mat-card-subtitle>
       <mat-card-content class="ml30">
         <h1></h1>
         <p></p>
         <mat-divider></mat-divider>
         <br>
         <h1>Sus funciones : </h1>
         <ul>
           <li>Gestionar los pedidos</li>
           <li>Visualizar los pedidos</li>
           <li>Preparar los pedidos para la Entrega</li>
         </ul>
         <mat-divider></mat-divider>
         <br>
       </mat-card-content>
     </div>
   </div>
  </div>
</mat-card>
