<header class="antialiased">
  <nav class=" navbar-logged bg-white border-gray-700 px-4 py-3 dark:bg-gray-800 dark:border-gray-700 fixed left-0 right-0 top-0 z-50">
      <div class="flex flex-wrap justify-between items-center mx-auto ">

              <a  class="flex mr-4 margin pr-0 md:pr-8">
                <i class="fas fa-building  text-lg mr-2 text-white"></i>
                <span class="self-center text-lg font-semibold whitespace-nowrap text-white dark:text-white">
                  <span class="sm:hidden">Redes & Seguridad</span>
                  <span class="hidden sm:inline">Soluciones en Redes y Seguridad E.I.R.L</span>
                </span>
              </a>

            <!-- ADMIN -->
            <div *ngIf="isLoggedIn && hasAdminRole" class="flex items-center lg:order-2">

             <!-- Notifications -->
             <button type="button" data-dropdown-toggle="notification-dropdown" class=" flex items-center p-2 mr-1 text-white rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600">
              <span class="sr-only">View notifications</span>
              <!-- Bell icon -->
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 14 20">
                <path d="M12.133 10.632v-1.8A5.406 5.406 0 0 0 7.979 3.57.946.946 0 0 0 8 3.464V1.1a1 1 0 0 0-2 0v2.364a.946.946 0 0 0 .021.106 5.406 5.406 0 0 0-4.154 5.262v1.8C1.867 13.018 0 13.614 0 14.807 0 15.4 0 16 .538 16h12.924C14 16 14 15.4 14 14.807c0-1.193-1.867-1.789-1.867-4.175ZM3.823 17a3.453 3.453 0 0 0 6.354 0H3.823Z"/>
              </svg>

              <span class="inline-flex justify-center items-center w-6 h-5 text-sm font-semibold rounded-full text-[#0c0033] bg-white dark:bg-primary-200 dark:text-primary-800 ml-2">
                 1
              </span>

            </button>
            <!-- Dropdown menu -->
            <div  class="hidden overflow-hidden z-50 my-4 max-w-sm text-base list-none bg-white rounded divide-y divide-gray-100 shadow-lg dark:divide-gray-600 dark:bg-gray-700" id="notification-dropdown">
                <div class="block py-2 px-4 text-base font-medium text-center text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    Notificaciones
                </div>

                <div>
                <a  class="flex py-3 px-4 border-b hover:bg-gray-100 dark:hover:bg-gray-600 dark:border-gray-600 cursor-pointer">
                    <div class="flex-shrink-0">
                    <img class="w-11 h-11 rounded-full" src="../../../assets/franks.webp" alt="Bonnie Green avatar">
                    <div class="flex absolute justify-center items-center ml-6 -mt-5 w-5 h-5 rounded-full border border-white bg-primary-700 dark:border-gray-700">
                        <svg class="w-2 h-2 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18"><path d="M15.977.783A1 1 0 0 0 15 0H3a1 1 0 0 0-.977.783L.2 9h4.239a2.99 2.99 0 0 1 2.742 1.8 1.977 1.977 0 0 0 3.638 0A2.99 2.99 0 0 1 13.561 9H17.8L15.977.783ZM6 2h6a1 1 0 1 1 0 2H6a1 1 0 0 1 0-2Zm7 5H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Z"/><path d="M1 18h16a1 1 0 0 0 1-1v-6h-4.439a.99.99 0 0 0-.908.6 3.978 3.978 0 0 1-7.306 0 .99.99 0 0 0-.908-.6H0v6a1 1 0 0 0 1 1Z"/></svg>
                    </div>
                    </div>
                    <div class="pl-3 w-full">
                        <div class="text-gray-500 font-normal text-sm mb-1.5 dark:text-gray-400 ">Mensaje de <span class="font-semibold text-gray-900 dark:text-white">Frank</span>: "Hola {{user?.nombre}}, <br>Esta es la primera versión del sistema. Algunas funciones, como la generación de cotizaciones, han sido eliminadas. Seguimos trabajando."</div>
                        <div class="text-xs font-medium text-primary-700 dark:text-primary-400 ">Hace unos momentos</div>
                    </div>
                </a>
                </div>

                <a  class=" cursor-pointer block py-2 text-base font-medium text-center text-gray-900 bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:text-white dark:hover:underline">
                    <div class="inline-flex items-center ">
                    <svg aria-hidden="true" class="mr-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path><path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd"></path></svg>
                    Ver todo
                    </div>
                </a>
            </div>

            <!-- Perfil -->
            <button type="button" class="flex mx-3  px-2 py-1.5  bg-[#FFFF] items-center justify-center font-semibold rounded-lg text-xs md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="dropdown">
                <span class="sr-only">Open user menu</span>
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-width="2" d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                </svg><span class="hidden lg:inline">{{ user?.nombre | capitalize }} </span>
                <span class="inline lg:hidden"></span>

            </button>
            <!-- Dropdown menu -->
            <div class="hidden z-50 my-4 w-56 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600" id="dropdown">
                <div class="py-3 px-4">
                    <span class="block text-sm font-semibold text-gray-900 dark:text-white">{{ user?.nombre | capitalize }} </span>
                    <span class="block text-sm text-gray-500 truncate dark:text-gray-400">{{ user?.email }}</span>
                </div>
                <ul class="py-1 text-gray-500 dark:text-gray-400" aria-labelledby="dropdown">
                    <li>
                        <a class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white cursor-pointer">Mi Perfil</a>
                    </li>
                    <li>
                        <a  class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white cursor-pointer">Ajustes de Cuenta</a>
                    </li>
                </ul>

                <ul class="py-1 text-gray-500 dark:text-gray-400" aria-labelledby="dropdown">
                    <li>
                        <a (click) = "logout()"   class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>

            </div>






      </div>
  </nav>
</header>
