<mat-card>
  <button mat-icon-button color="warn" aria-label="Cerrar" class="close-button" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
  <br>
  <mat-card-subtitle style="text-align: center;">Agregar Producto al Detalle Compra</mat-card-subtitle>
  <mat-divider></mat-divider>
  <br>

    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form (ngSubmit) = "GuardarDetalle()" >
          <!-- Formulario de datos de la venta -->
          <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selecciona el producto</label>
          <mat-form-field class="w100" appearance="outline">
            <input  placeholder="Buscar producto" matInput [formControl]="productoControl" [matAutocomplete]="auto" required >
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let producto of filteredProductos | async" [value]="producto">
                {{ producto.nombre }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <div class="mb-4">
            <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cantidad</label>
            <input
            name="cantidad"
            type="text" id="cantidad"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Digite el Precio de Compra"
            [(ngModel)]  = "DetalleData.cantidad"
            >
          </div>

          <div class="mb-4">
            <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo de Cambio</label>
            <input
            name="tipoCambio"
            type="text" id="tipoCambio"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Digite el Precio de Compra"
            [(ngModel)]  = "DetalleData.tipoCambio"
            >
          </div>

          <div class="container text-center mt-4">
            <button mat-raised-button color="primary">Añadir</button>
          </div>
        </form>

      </div>
    </div>

  </mat-card>

