<mat-card>
  <button mat-icon-button color="warn" aria-label="Cerrar" class="close-button" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
  <br>
  <mat-card-subtitle style="text-align: center;">Agregar Existencia al Inventario</mat-card-subtitle>
  <mat-divider></mat-divider>
  <br>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form (ngSubmit) = "GuardarDetalle()" >
        <!-- Formulario de datos de la venta -->

        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selecciona el inventario</label>
        <mat-form-field class="w100" appearance="outline">
          <input placeholder="Buscar inventario" matInput [formControl]="inventarioControl" [matAutocomplete]="autoInventario" required>
          <mat-autocomplete #autoInventario="matAutocomplete" [displayWith]="displayFn2">
            <mat-option *ngFor="let inventario of filteredInventarios | async" [value]="inventario">
              {{ inventario.nombre }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selecciona el producto</label>
        <mat-form-field class="w100" appearance="outline">
          <input placeholder="Buscar producto" matInput [formControl]="productoControl" [matAutocomplete]="autoProducto" required>
          <mat-autocomplete #autoProducto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let producto of filteredProductos | async" [value]="producto">
              {{ producto.nombre }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div class="mb-4">
          <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Stock Actual</label>
          <input
          name="cantidad"
          type="text" id="cantidad"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Digite el Stock Actual del Producto"
          [(ngModel)]  = "stockData.cantidad"
          >
        </div>

        <div class="container text-center mt-4">
          <button mat-raised-button color="primary">Añadir</button>
        </div>
      </form>

    </div>
  </div>

</mat-card>

