<section class="bg-gray-50 dark:bg-gray-900 h-full ">
  <div class=" w-full flex flex-col items-center justify-center px-6 py-8 sm:pl-[80px] mx-auto md:h-screen lg:py-0 ">
<div class="container">
    <mat-card class="example-card">
      <img mat-card-image src="../../../../assets/imgCotizacion.webp" alt="Image">
      <mat-card-title style="text-align: center;">Cotización para 
        Soluciones en Redes y Seguridad</mat-card-title>
      <mat-card-content>
        <p class="centrar">
          En este apartado del Sistema, puedes generar una cotización personalizada para la empresa, considerando el tipo de cambio del dólar y los productos disponibles en nuestro almacén.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="abrirModal()">Generar Cotización</button>
      </mat-card-actions>
    </mat-card>
   
</div>
  </div>
</section>


