<mat-card>

  <button mat-icon-button color="warn" aria-label="Cerrar" class="close-button" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
  <h1 style="text-align: center;margin-top: 40px;">Agregar nueva venta al Sistema</h1>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form (ngSubmit) = "guardarVenta()">
        <!-- Formulario de datos de la venta -->
        <mat-form-field class="w100" appearance="outline">
          <input type="text" placeholder="Buscar Cliente" matInput [formControl]="clienteControl" [matAutocomplete]="auto"  required>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let cliente of filteredClientes| async" [value]="cliente">
              {{ cliente.nombre }} {{ cliente.apellidoPaterno }} {{ cliente.apellidoMaterno }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div class="row">
          <div class="col-md-12">

              <mat-form-field class="w70" appearance="outline">
                <mat-label>Fecha de la Venta</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)] = "ventaData.fechaVenta" name="fechaVenta" placeholder="Seleccione la fecha de venta" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <!-- Botón para activar la venta -->
              <button mat-raised-button color="primary" type="submit" style="margin-left: 10px;">Crear Venta</button>

          </div>
        </div>
      </form>

    </div>
  </div>

</mat-card>



