<mat-card>
  <button mat-icon-button color="warn" aria-label="Cerrar" class="close-button" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
  <br>
  <mat-card-subtitle style="text-align: center;">Actualizar cotizacion</mat-card-subtitle>
  <mat-divider></mat-divider>
  <br>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form (ngSubmit)="ActualizarCotizacion()">
        <!-- Formulario de datos de la venta -->
        <mat-form-field class="w100" appearance="outline">
          <mat-label>Cliente Actual</mat-label>
          <input [(ngModel)]="fullName" matInput  name="nombreCliente" required placeholder="Digite el nombre del Cliente">
        </mat-form-field>

        <mat-form-field class="w100" appearance="outline">
          <mat-label>Nuevo Cliente</mat-label>
          <input placeholder="Buscar Cliente" matInput [formControl]="clienteControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let cliente of filteredClientes | async" [value]="cliente">
              {{ cliente.nombre }} {{ cliente.apellidoPaterno }} {{ cliente.apellidoMaterno }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div class="mb-4">
          <label for="descripcion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Asunto:</label>
           <textarea id="descripcion" name="descripcion" [(ngModel)] = "cotizacion.asuntoCotizacion"
            rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50
             rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500
              dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
               dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Digite el asunto de la Cotización"></textarea>
              </div>

        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="w70" appearance="outline">
              <mat-label>Fecha de la Cotizacion</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="cotizacion.fechaCotizacion" name="fechaCotizacion" placeholder="Seleccione la fecha de cotizacion">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <!-- Botón para activar la venta -->
            <button mat-raised-button color="primary" type="submit" style="margin-left: 10px;">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</mat-card>
