<mat-card>

  <button mat-icon-button color="warn" aria-label="Cerrar" class="close-button" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
  <br>
  <mat-card-subtitle style="text-align: center;">Procesar Compra</mat-card-subtitle>
  <mat-divider></mat-divider>
  <br>

    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form (ngSubmit) = "ProcesarCompra()">
          <!-- Formulario de datos de la venta -->

          <div class="mb-4">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selecciona el Destino</label>
            <mat-select name="inventario" [(ngModel)]="selectedInventarioId" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <mat-option *ngFor="let c of inventarios" [value]="c.inventarioId">
                {{ c.nombre }}
              </mat-option>
            </mat-select>
          </div>


          <div class="container text-center mt-4">
            <button mat-raised-button color="primary">Procesar</button>
          </div>
        </form>

      </div>
    </div>

  </mat-card>
