<div class="container">
    <mat-card class="example-card">
      <img mat-card-image src="../../../../assets/punto-de-venta.png" alt="Image">
      <mat-card-title style="text-align: center;">Venta de Productos</mat-card-title>
      <mat-card-content>
        <p class="centrar">
            Registro de salidas de inventario por ventas para mantener un control preciso del stock y optimizar la gestión de inventarios.
        </p>
      </mat-card-content>
      <mat-card-actions >
        <button mat-button mat-raised-button color="primary" style="margin-bottom: 10px;" routerLink = "/admin/ver-ventas">Registrar salida</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <img mat-card-image src="../../../../assets/camara.png" alt="Image">
      <mat-card-title style="text-align: center;">Instalación de Productos</mat-card-title>
      <mat-card-content>
        <p class="centrar">
            Registro de instalaciones de productos de videovigilancia para mantener un seguimiento detallado de cada instalación realizada.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button mat-raised-button color="primary"  style="margin-bottom: 10px;">Registrar salida</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <img mat-card-image src="../../../../assets/bienes.png" alt="Image">
      <mat-card-title style="text-align: center;">Otro tipo de Salidas</mat-card-title>
      <mat-card-content>
        <p class="centrar">
            Registro de salidas de inventario para cualquier otro tipo de transacción o uso fuera de ventas o instalaciones específicas.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button  mat-raised-button color="primary"  style="margin-bottom: 10px;">Registrar salida</button>
      </mat-card-actions>
    </mat-card>
  </div>
