<mat-card>
  <button mat-icon-button color="warn" aria-label="Cerrar" class="close-button" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
  <br>
  <mat-card-subtitle style="text-align: center;">Agregar Proveedor</mat-card-subtitle>
  <mat-divider></mat-divider>
  <br>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form (ngSubmit) = "guardarProveedor()">

          <div class="mb-4">
            <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Razón Social</label>
            <input
            name="razonSocial"
            type="text" id="razonSocial"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Digite Razón Social de la empresa"
            [(ngModel)] = "proveedorData.razonSocial"
            >
          </div>

          <div class="mb-4">
            <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">RUC</label>
            <input
            name="ruc"
            type="text" id="ruc"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Digite el RUC de la empresa"
            [(ngModel)]  = "proveedorData.ruc"
            >
          </div>

          <div class="mb-4">
            <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Dirección</label>
            <input
            name="direccion"
            type="text" id="direccion"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Digite la dirección de la empresa"
            [(ngModel)] = "proveedorData.direccion"
            >
          </div>

          <div class="mb-4">
            <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo</label>
            <input
            name="correo"
            type="text" id="correo"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Digite el correo de la empresa"
            [(ngModel)]  = "proveedorData.correo"
            >
          </div>

          <div class="mb-4">
            <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Teléfono</label>
            <input
            name="telefono"
            type="text" id="telefono"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Digite el teléfono de la empresa"
            [(ngModel)]  = "proveedorData.telefono"
            >
          </div>

          <div class="mb-4">
            <label for="descripcion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">¿Qué productos vende?</label>
             <textarea id="descripcion" name="descripcion" [(ngModel)] = "proveedorData.infoProductos"
              rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50
               rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500
                dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Digite los productos que vende este proveedor"></textarea>
                </div>

          <div class="container text-center">
            <button mat-raised-button color="primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </mat-card>

